/* CSS File */

body {
	background-color: transparent;
	background-image: url('../images/asanoha.png');
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
footer{
	text-align: center;
	color: black;
	font-family: 'Quicksand', sans-serif;
	
}

.container {
	margin: 0;
	padding: 0;
	width: 100%;
}

.jumbotron {
	background-color: transparent;
	margin: 0;
	padding: 5% 0 5% 0;
}

.jumbotron h1 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 56px;
	color: navy;
	padding: 0;
	margin: 0;
}

.jumbotron ul {
	font-size: 20px;
	padding: 3% 10% 0% 10%;
	list-style-type: disc;
}

.row {
	width: 100%;
	padding: 0% 10% 2% 10%;
}

.crystalImg{
	width: 24.25%;
	height: auto;
	margin-right: 1%;
	background-color: white;
}

.crystalImg:last-child {
	margin-right: 0%;
}

h2, h3 {
	margin: 0;
	font-weight: bold;
	line-height: 1.5;
	color: navy;
}

#totalScore {
	padding-top: 2%;
	padding-bottom: 5%;
}

#status {
	margin-left: 5%;
}